
# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
myworld/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
static/
.DS_Store

# Environment variables
.env
*.secret

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Pip and dependencies
pip-log.txt
pip-delete-this-directory.txt

# Ignore all migrations except the initial ones
*/migrations/*.py
!*/migrations/__init__.py

# Ignore compiled Python files
*.pyc
*.pyo
