.home {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    color: white;
    text-align: center;
    padding: 20px;

}
.home h1 {
    font-size: 50px;
    color: rgb(17, 16, 16);
    margin-bottom: 20px;
}
.home p {
    font-size: 40px;
    color: rgb(17, 16, 16);
    margin-bottom: 10px;
    
    
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    color: white;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(17, 16, 16);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    
}

button:hover {
    background-color: rgb(152, 146, 146);
    color: white;
}