.dashboard-container {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  
}
