.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6192db;
    text-align: center;
    padding: 20px;
}

.home-container h1 {
    font-size: 2.5rem;
    color: #656469;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}